@media screen and (max-width: 700px) {
    body{
        height: calc(100svh - 300px);
    }
    .content{
        height: calc(100vh - 100px);
        box-sizing: border-box;
    }
    .generate-container{
        position: fixed;
        bottom: 60px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: calc(100% - 30px);
        box-sizing: border-box;
    }
    .link{
        display: inline-block;
        flex: 1 1 280px;
    }
    .generator{
       flex: 1 0 120px;
display: inline-block;
margin: 0;
    }
    .download{
        flex: 1 0 120px;
        display: inline-block;
        margin: 0;
    }

    .input-link {
        box-sizing: border-box;
        width: calc(100% + 20px);
    }
}
@media screen and (max-width: 450px) {
    .input-link {
        width: calc(100%);
    }
}